services:
  app:
  # descomentar cuando se necesite usar el entorno dev (esto es para compilar, se puede reemplazar por una imágen precompilada)
    build: 
      context: ./app/dev
    volumes:
    # descomentar cuando se necesite usar el entorno dev
      - ./app/dev/php.ini:/usr/local/etc/php/php.ini
      - ./app/dev/php-fpm.conf:/usr/local/etc/php-fpm.d/php-fpm.conf
    extra_hosts:
      - "host.docker.internal:host-gateway"